body{
    font-family: 'Noto Sans', sans-serif;
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #fff;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|PT+Sans:400,700');
/* meadia qury for desktop */  
    
.py-nav-outer{
    float: left;
    width: 100%;
    background-color: transparent;
    padding: 0.7em 0em;
    display: none;
}
.brand-logo{
    float: left;
    width: 25%;
}
.logo-img-top{
    float: left;
    width: 50%;
    margin: 0% 15%;
}
.logo-img{
    float: left;
    width: 70%;
    margin: -7% 15%;
}
.nav-link-section{
    float: left;
    width: 60%;
}
.right-nav-section{
    float: left;
    width: 15%;
}
.nav-link-list{
    float: right;
}
.nav-links{
    float: left;
    text-decoration: none;
    padding: 0.5em 1.5em;
    font-size: 14px;
    color: #1a1a1a;
}
.nav-links:hover{
    transition: all 200ms;
    color:#0008;
}
.login-link{
    float: left;
    margin-left: 5%;
    border-radius: 500px;
    background-color: #ccd5f5;
    padding: 0.5em 3em;
}

/* introduction sectio css starts here */
.allnav{
    display: block;
    float: left;
    width: 100%;
    background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    height: 100vh;

}
.allnav:after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-position: 0% 20%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.introduction{
    float: left;
    width: 100%;
}
.intro-logo{
    float: left;
    width: 10%;
    margin: 0% 45%;
    border-radius: 5px;
    display: none;
}
.introduction-text{
    width: 80%;
    float: left;
    margin: 15% 10%;
    color: #000;
    text-align: center;
    color: #fff;
}
.introduction-h1{
    float: left;
    width: 100%;
    font-size: 84px;
    margin: 5% 0em 0.1em;
    text-transform:uppercase;
    font-weight: 600;
}
.introduction-p{
    float: left;
    font-weight: 400;
    width: 100%;
    font-size: 22px;
    margin: 0.1em 0em;
}
.block{
    float: left;
    width: 80%;
    margin: 2% 10%;
}
/* about section css starts here */
.sec-head{
    float: left;
    text-align: center;
    width: 100%;
    margin: 10% 0% 2%;
    font-size: 48px;
    font-weight: 400;
    color: #1a1a1a;
    font-family: 'Noto Sans', sans-serif;
}
.disc-text{
    float:left;
    width: 80%;
    margin: 1% 10%;
    text-align: left;
}
.text{
    font-size: 18px;
    line-height: 1.5;
    color: #4c4c4c;
    font-family: 'Noto Sans', sans-serif;
}
/* cousrses section css goes here */
.courses{
    float: left;
    width: 90%;
    margin: 1% 5%
}
.card{
    float: left;
    width: 100%;
    margin: 5% 0%;
    border-radius: 3px;
    background-color: #fff;
    font-size: 0.9em;
}
.card:hover{
    transition: all 150ms;
    box-shadow: 0em 0.5em 1em #00000000;
    
}
.course-img{
    float: left;
    width: 100%;
    padding: 0%;
    background-color: #e09232;
    border-radius: 3px 3px 0px 0px;
    
}
.course-head{
    float: left;
    width: 100%;
    text-align: left;
    margin:0em;
    padding: 1em 0em;
    font-size: 1.2em;
    font-weight: 300;
    
}
.cost{
    float: left;
    width: 100%;
    padding: 0.2em 0%;
    margin: 0%;
    text-align: left;
    border-bottom: 1px solid #aaa1;
    display: none;
    
}
.view-link{
    float: left;
    width: 100%;
    margin: 0%;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #27981b;
    padding: 1em 0em;
    border-radius: 2px;
}
.view-link:hover{
    transition: all 50ms;
    background-color: #aaa1;
}
/*
.card:nth-child(1) > .course-img{
    background-color: #6921c2;
}
.card:nth-child(2) > .course-img{
    background-color: #5caf1e;
}
.card:nth-child(3) > .course-img{
    background-color: #21a2c2;
}
.card:nth-child(4) > .course-img{
    background-color: #c06421;
}
.card:nth-child(5) > .course-img{
    background-color: green;
}

*/

/* faccility section css goes here */
.facility{
    float: left;
    width: 90%;
    margin: 1% 5%;
}
.fac-sec{
    float: left;
    width: 46%;
    padding: 0% 2%;
    margin: 3% 0%;
}
.number{
    float: left;
    width: 10%;
    margin-right: 10%;
}
.fac-text{
    float: left;
    width: 80%;
}
.fac-head{
    float: left;
    width: 100%;
    margin: 3% 0em 1em;
    font-size: 20px;
    font-weight: 400;
    color: 1a1a1a;
    font-family: 'Noto Sans', sans-serif;
}

.fac-disc{
    float: left;
    width: 80%;
    margin: 0em;
    color: #4c4c4c;
}

/* team section css starts here */
.team-sec{
    float: left;
    width: 80%;
    margin: 2% 10%;
}
.team-profile{
    float: left;
    width: 20%;
    margin: 0% 2.5%;
}
.profile-img{
    float: left;
    width: 60%;
    margin: 0% 20%;
    border-radius: 500px;
    filter: saturate(0%);
}
.profile-disc{
    float: left;
    width: 100%;
}
.profile-disc > h2{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 1em 0em 0.2em;
}
.profile-disc > p{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin: 0.5em 0em;
    color: #4d4d4d;
}
.profile-disc > a{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    margin: 0.5em 0em;
    color: #4d4d4d;
}
.more{
    float: left;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 0.5em 0em;
    margin: 4% 25% 0%;
    color: #4d4d4d;
}
.more:hover .fa{
    transition: all 250ms;
    margin-left: 1em;
}
.ctabutton{
    background-color: #396afc;
    border-radius: 2px;
    margin: 4% 35% 0%;
    width: 30%;
    padding: 1em 0em;
    color: #1a1919;
}
.getstartedlink{
    float: left;
    padding: 1em 5%;
    width: 20%;
    margin: 4% 35%;
    text-align: center;
    border-radius: 500px;
    background-color: #27981b;
    text-decoration: none;
    color: #fff;
}


/*  footer css starts here */
.custom-footer{
    float: left;
    width: 80%;
    padding: 4% 10% 2%;
    background: #396afc;
    color: #1a1919;
}
.brand-logo{
    float: left;
    width: 20%;
}
.footer-content{
    margin: 1% auto;
    width: 90%;
}
.footer-content > p,a{
    float: left;
    margin: 0em 3em;
    font-weight: 500;
    text-decoration: none;
    color: #191919;
}
.social-links{
    float: left;
    width: 15%;
    margin: 4% 42.5%;
}
.social-links > a{
    float: left;
    margin: 0em 0.5em;
    color: #1a1919;
}
.footer-link{
    float: left;
    width: 30%;
    margin: 0% 35%;
    text-align: center;
    text-decoration: none;
    color: #1a1919;
}

/* media query for desktop ends here */








@media only screen and (max-width: 990px){ 
    
.py-nav-outer{
    float: left;
    width: 100%;
    background-color: transparent;
    padding: 0.7em 0em;
}
.brand-logo{
    float: left;
    width: 25%;
}
.logo-img-top{
    float: left;
    width: 50%;
    margin: 0% 15%;
}
.nav-link-section{
    float: left;
    width: 60%;
}
.right-nav-section{
    float: left;
    width: 15%;
}
.nav-link-list{
    float: right;
}
.nav-links{
    float: left;
    text-decoration: none;
    padding: 0.5em 1.5em;
    font-size: 14px;
    color: #1a1a1a;
}
.nav-links:hover{
    transition: all 200ms;
    color:#0008;
}
.login-link{
    float: left;
    margin-left: 5%;
    border-radius: 500px;
    background-color: #ccd5f5;
    padding: 0.5em 3em;
}

/* introduction sectio css starts here */
.allnav{
    background-size: 250%;
    background-position: 70% 0%;
}
.allnav:before{
    background-size: 300%;
    background-position: 0% 50%;
    height: 100vh;
}
.introduction{
    height: 100vh;
}
.intro-logo{
    float: left;
    width: 50%;
    margin: 0% 25%;
}
.introduction-text{
    width: 80%;
    margin: 50% 10%;
}
.introduction-h1{
    width: 100%;
    font-size: 94px;
    margin: 10% 0em 0.1em;
}
.introduction-p{
    font-weight: 400;
    width: 100%;
    font-size: 42px;
}
.block{
    float: left;
    width: 94%;
    margin: 2% 3%;
}
/* about section css starts here */
.sec-head{
    float: left;
    text-align: center;
    width: 100%;
    margin: 5% 0% 2%;
    font-size: 4em;
    font-weight: 400;
    color: #1a1a1a;
    font-family: 'Noto Sans', sans-serif;
}
.list-item{
    list-style: none;
    color: #4c4c4c;
    font-family: 'Noto Sans', sans-serif; 
    }
    .list-item > li{
        font-size: 1em;
        line-height: 1.5;
    }
.disc-text{
    float:left;
    width: 90%;
    margin: 5% 5%;
    text-align: left;
}
.text{
    font-size:2em;
    line-height: 1.5;
    color: #4c4c4c;
    font-family: 'Noto Sans', sans-serif; 
}
/* cousrses section css goes here */
.courses{
    float: left;
    width: 90%;
    margin: 1% 5%
}
.card{
    float: left;
    width: 100%;
    margin: 2% 0%;
    border-radius: 3px;
    background-color: #fff;
    font-size: 1.5em;
}
.card:hover{
    transition: all 150ms;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.04), 0 2px 1px -1px rgba(0,0,0,.02);
    
}
.course-img{
    float: left;
    width: 100%;
    padding: 0%;
    background-color: #f00;
    border-radius: 3px 3px 0px 0px;
    
}
.course-head{
    float: left;
    width: 100%;
    text-align: center;
    margin:0em;
    padding: 1em 0em;
    border-bottom: 1px solid #aaa1;
    
}
.cost{
    float: left;
    width: 80%;
    padding: 1em 10%;
    margin: 0%;
    text-align: right;
    border-bottom: 1px solid #aaa1;
    
}
.view-link{
    float: left;
    width: 100%;
    margin: 0%;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: #27981b;
    padding: 1em 0em;
    border-radius: 2px;
}
.view-link:hover{
    transition: all 50ms;
    background-color: #aaa1;
}

.card:nth-child(1) > .course-img{
    background-color: #6921c2;
}
.card:nth-child(2) > .course-img{
    background-color: #5caf1e;
}
.card:nth-child(3) > .course-img{
    background-color: #21a2c2;
}
.card:nth-child(4) > .course-img{
    background-color: #c06421;
}
.card:nth-child(5) > .course-img{
    background-color: green;
}


/* faccility section css goes here */
.facility{
    float: left;
    width: 90%;
    margin: 1% 5%;
}
.fac-sec{
    float: left;
    width: 100%;
    padding: 0% 0%;
    margin: 5% 0%;
}
.number{
    float: left;
    width: 10%;
    margin-right: 10%;
}
.fac-text{
    float: left;
    width: 80%;
}
.fac-head{
    float: left;
    width: 100%;
    margin: 1% 0em 1em;
    font-size: 3em;
    font-weight: 400;
}

.fac-disc{
    font-size: 2em;
}

/* team section css starts here */
.team-sec{
    float: left;
    width: 80%;
    margin: 5% 10%;
}
.team-profile{
    float: left;
    width: 48%;
    margin:8% 1%;
}
.profile-img{
    float: left;
    width: 60%;
    margin: 0% 20%;
    border-radius: 500px;
    filter: saturate(0%);
}
.profile-disc{
    float: left;
    width: 100%;
}
.profile-disc > h2{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 1em 0em 0.2em;
}
.profile-disc > p{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0.5em 0em;
    color: #4d4d4d;
}
.profile-disc > a{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin: 0.5em 0em;
    color: #4d4d4d;
}
.more{
    float: left;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 400;
    padding: 0.5em 0em;
    margin: 4% 25% 0%;
    color: #4d4d4d;
}
.more:hover .fa{
    transition: all 250ms;
    margin-left: 1em;
}
.getstartedlink{
    float: left;
    padding: 1em 5%;
    width: 20%;
    margin: 4% 35%;
    text-align: center;
    border-radius: 500px;
    background-color: #27981b;
    text-decoration: none;
    color: #fff;
}
.ctabutton{
    background-color: #396afc;
    border-radius: 2px;
    margin: 4% 25% 0%;
    width: 50%;
    padding: 1em 0em;
    color: #1a1919;
    font-size: 2em;
}

/*  footer css starts here */
.custom-footer{
    float: left;
    width: 80%;
    margin-top: 10%;
    padding: 4% 10% 2%;
}
.brand-logo{
    float: left;
    width: 50%;
    margin: 2% 0%;
}
.logo-img{
    float: left;
    width: 70%;
    margin: 0% 0%;
}
.footer-content{
    float: left;
    width: 100%;
}
.footer-content > a, p{
    float: left;
    width: 100%;
    margin: 1em 0%;
    font-size:2em;
    font-weight: 500;
}
.footer-content > p{
    float: left;
    width: 100%;
    margin: 1em 0%;
    font-size:2em;
    font-weight: 500;
}
.social-links{
    float: left;
    width: 100%;
    margin: 4% 0%;
}
.social-links > a{
    float: left;
    font-size: 2em;
    margin: 0em 0.5em;
    color: #1a1919;
}
.footer-link{
    float: left;
    width: 60%;
    margin: 5% 20%;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    color: #1a1919;
}
    
}
