body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    float: left;
    width: 100%;
    margin: 0px;
    background-color: #fafafa;
    overflow-x: hidden;
}
@import @import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');
/* media qury for desktop */

.about , .custom-footer:focus {
  outline: 0px dotted #212121;
  outline: 0px auto -webkit-focus-ring-color;
}
.hidesec{
    display: none;
}
/* introduction section css starts here */
.allnav{
    display: block;
    float: left;
    width: 100%;
    height: 100vh;

}
.allnav:before{
    content: ' ';
    float: left;
    position: absolute;
    z-index: -99;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
}
.allnav:after{
    content: ' ';
    float: left;
    position: absolute;
    z-index: -9;
    top: 0%;
    left: 0%;
    background-image: url('background.svg');
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100vh;

}
.introduction{
    float: left;
    width: 100%;
}
.intro-logo{
    float: left;
    width: 10%;
    margin: 0% 45%;
    border-radius: 5px;
    display: none;
}
.introduction-text{
    width: 80%;
    float: left;
    margin: 10% 10%;
    color: #000;
    text-align: center;
    color: #393E46;
}
.introduction-h1{
    float: left;
    width: 100%;
    font-size: 100px;
    letter-spacing: 0.25em;
    margin: 5% 0em;
    text-transform:uppercase;
    font-weight: 800;
    text-shadow: 0px 2px 5px #0000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduction-h1 img{
    margin-right: 0.2em;
    width: 0.7em;
}
.introduction-p{
    float: left;
    font-weight: 400;
    width: 100%;
    font-size: 20px;
    letter-spacing: 0.05em;
    line-height: 2;
    margin: 0.1em 0em;
}
.social{
    float: left;
    width: 30%;
    margin: 10% 35% 1%;
}
.socail-li{
    float: left;
    width: 4%;
    padding: 4%;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 0px 4%;
    opacity: 1;
}
.socail-li:hover{
    transition: all 100ms;
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: 0px 5px 3px -1px #0004;
}
.social-img{
    float: left;
    width: 100%;
}
.nav{
    float: left;
    width: 50%;
    margin: 2% 25%;
}
.nav-bars{
    float: left;
    color: #f2f2f2;
    padding: 0.9em 0em;
    text-align: center;
    width: 25%;
    margin: 0%;
    font-weight: 500;
    color: #393e36;
    opacity: 0.4;
}
.nav-bars:nth-child(1){
    border-radius: 50px 0px 0px 50px;
}
.nav-bars:nth-last-child(1){
    border-radius: 0px 50px 50px 0px;
}
.nav-bars:hover{
    transition: all 150ms;
    opacity: 1;
}
.block{
    float: left;
    width: 100%;
    margin: 2% 0%;
}
/* about section css starts here */
.sec-head{
    float: left;
    text-align: left;
    border-left: 500px solid #f2f2f2;
    margin: 10% 0% 2%;
    padding: 0em 1em;
    font-size: 30px;
    font-weight: 800;
    color: #393e36;
    letter-spacing: 0.2em;
}
.contain{
    float: left;
    width: 90%;
    margin: 0% 5%;
}
.left-pan{
    float: left;
    width: 30%;
}
.right-pan{
    float: left;
    width: 70%;
}
.list-sec{
    margin-bottom: 2em;
    float: left;
    width: 100%;
}
.list-sec > h4 {
    color: #393e36;
    font-weight: 600;
    float: left;
    width: 100%;
}
.list-sec > p {
    color: #5f5f5f;
    line-height: 2;
    font-weight: 400;
    font-size: 0.9em;
    float: left;
    width: 100%;
    word-spacing: 0.25em;
    margin: 0.2em 0em;
}
.edu{
    margin-bottom: 1.5em;
}
.edu > p{
    margin: 0.5em 0em;
}
.edu > p:nth-child(1){
    color: #396afc;
    font-weight : 600;
}
.edu > p:nth-child(2){
    color: #5f5f5f;
}
.edu > p:nth-child(3){
    color: #0005;
    font-size: 0.9em;
}

/* project css*/
.project-intro{
    float: left;
    width: 60%;
    margin: 2% 20%;
}
.project-intro > h4{
    width: 100%;
    float: left;
    font-size: 2em;
    font-weight: 400;
}
.project-intro > p{
    float: left;
    width: 100%;
    opacity: 1;
}
.project-intro > p > span{
    padding-right: 1em;
    border-right: 1px solid #000;
    margin-right: 1em;
}

.project-img-showcase{
    width: 100%;
    margin: 2% 0%;
    float: left;
}
.disc-text{
    float:left;
    width: 80%;
    margin: 1% 10%;
    text-align: left;
}
.text{
    font-size: 16px;
    line-height: 1.5;
    color: #4c4c4c;
    font-family: 'Noto Sans', sans-serif;
}
/* cousrses section css goes here */
.courses{
    float: left;
    width: 90%;
    margin: 1% 5%
}
.card{
    float: left;
    width: 45%;
    margin: 5% 2.5%;
    border-radius: 3px;
    font-size: 0.9em;
}
.card:hover{
    transition: all 150ms;
    box-shadow: 0em 0.5em 1em #00000000;

}
.course-img{
    float: left;
    width: 100%;
    padding: 0%;
    border-radius: 3px 3px 0px 0px;

}
.project-discription{
    float: left;
    width: 90%;
    padding: 0% 5%;
}
.course-head{
    float: left;
    width: 100%;
    text-align: left;
    margin:0em;
    padding: 1em 0em;
    font-size: 1.5em;
    font-weight: 600;

}
.course-disc{
    float: left;
    width: 100%;
    margin: 1em 0em;

}
.view-link{
    float: left;
    width: 100%;
    margin: 0%;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    color: #27981b;
    padding: 1em 0em;
    border-radius: 2px;
}
.view-link:hover{
    transition: all 50ms;
    background-color: #aaa1;
}
.more{
    float: left;
    width: auto;
    margin: 0%;
    margin-right: 2em;
    color: #45a0f1;
    padding: 1.5em 0em;
}
.more:hover{
    transition: all 150ms;
    transform: translateX(5px);
}
/*  footer css starts here */
.custom-footer{
    float: left;
    width: 80%;
    padding: 4% 10% 2%;
    color: #393e46;
}
.footer-content{
    margin: 1% auto;
    width: 70%;
}
.footer-content > p,a{
    float: left;
    margin: 0em 3em;
    font-weight: 500;
    text-decoration: none;
    color: #393e46;
}
.foot-social{
    margin-top: 5%;
}
.footer-link{
    float: left;
    width: 30%;
    margin: 0% 35%;
    text-align: center;
    text-decoration: none;
}

.last-note{
    float: left;
    width: 100%;
    text-align: center;
    padding: 1em 0em;
    color: #393e46;
    font-weight: 500;
}


/* css for project pages goes here */
.contain-pro{
    float: left;
    width: 66%;
    margin: 0% 15%;
    padding: 2%;
}
.headpro{
    float: left;
    width: 100%;
    padding: 1em 0em;
    background: #e1e8f4;
}
.headpro:before{
    position: absolute;
    top: 0%;
    z-index: -99;
    content: " ";
    float: left;
    width: 100%;
    min-height: 100vh;
    padding: 1em 0em;
    background: #e1e8f4;
    transform: rotate(-10deg);
    transform-origin: right;
    border-radius: 300px;
}
.backtohome{
    float: left;
    padding: 1em 3%;
    text-decoration: none;
    color: #fff;
}
.backtohome:hover{
    transition: all 150ms;
    transform: translateX(-1em);
}
.text-heading{
    float: left;
    width: 100%;
    color: #000;
    font-weight: 600;
    font-size: 1.5em;
}
.text-sub-heading{
    float: left;
    width: 96%;
    color: #2552d8;
    font-weight: 500;
    font-size: 1em;
    margin: 0em 2%;
    margin-top: 2em;
}
.text-body{
    float: left;
    width: 96%;
    margin: 1em 2%;
    font-size: 0.9em;
    line-height: 27px;
}
.sublist{
    list-style: none;
    font-size: 0.9em;
    width: 100%;
}
.sublist > li{
    float: left;
    width: 100%;
    line-height: 1.8em;
}
.project-more{
    margin-left: 35%;
    text-align: center;
    background-color: #2552d8;
    color: #fff;
    padding: 1.5em 3em;
    width: auto;
}
.project-more:hover{
    transition: all 150ms;
    background-color: #1f43ae;
}
.thankyou-img{
    float: left;
    width: 20%;
    margin: 2% 40%;
}

/* media query for desktop ends here */








@media only screen and (max-width: 990px){

  .allnav:after{
      background-size: 230%;
      background-position: left;

  }
.introduction{
    width: 100%;
}
.introduction-text{
    width: 100%;
    margin: 60% auto 0%;
}
.introduction-h1{
    width: 100%;
    font-size: 100px;
    letter-spacing: 0.25em;
    margin: 5% 0em;
}
.introduction-p{
    width: 100%;
    font-size: 2em;
    letter-spacing: 0.05em;
    line-height: 2;
    margin: 0.1em 0em;
}
.social{
    width: 80%;
    margin: 40% 10% 1%;
    position: absolute;
    bottom: 10%;
}
.socail-li{
    float: left;
    width: 4%;
    padding: 4%;
    background-color: #e1e1e1;
    border-radius: 20px;
    margin: 0px 4%;
    opacity: 1;
}

.nav{
    float: left;
    width: 100%;
    margin: 0% 0%;
    position: absolute;
    bottom: 0%;
}
.nav-bars{
    float: left;
    color: #f2f2f2;
    font-size: 2em;
    padding: 1.8em 0em;
    text-align: center;
    width: 24.7%;
    border: 1px solid #f2f2f2;
    margin: 0%;
    font-weight: 600;
    background-color: #f2f2f2;
    color: #393e36;
    opacity: 0.7;
}
.nav-bars:nth-child(1){
    border-radius: 0px 0px 0px 0px;
}
.nav-bars:nth-last-child(1){
    border-radius: 0px 0px 0px 0px;
}
.nav-bars:hover{
    transition: all 150ms;
    opacity: 1;
}
.block{
    float: left;
    width: 100%;
    margin: 2% 0%;
}
/* about section css starts here */
.sec-head{
    text-align: center;
    width: 100%;
    margin: 10% 0% 2%;
    padding: 0;
    font-size: 68px;
    font-weight: 600;
    letter-spacing: 0.005em;
    color: #393e36;
    border-left: 0px;
    font-family: 'Noto Sans', sans-serif;
}
.contain{
    float: left;
    width: 90%;
    margin: 0% 5%;
}
.left-pan{
    float: left;
    width: 100%;
}
.right-pan{
    float: left;
    width: 100%;
}
.list-sec{
    margin-bottom: 2em;
    float: left;
}
.list-sec > h4 {
    font-weight: 600;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-top: 30%;
}
.list-sec > p {
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin: 0.2em 0em;
}
.right-pan > .list-sec > p{
    text-align: left;
}
.edu:nth-child(2){
    margin-bottom: 2em;
}
.edu > p{
    margin: 0.5em 0em;
    font-size: 1.8em;
}
.edu > p:nth-child(1){
    color: #396afc;
    margin-top: 2em;
    font-weight: 500;
}
.edu > p:nth-child(2){

}
.edu > p:nth-child(3){
    color: #0005;
    font-size: 0.95em;
}

/* project css*/
.project-intro{
    float: left;
    width: 60%;
    margin: 2% 20%;
}
.project-intro > h4{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}
.project-intro > p{
    float: left;
    width: 100%;
    text-align: center;
}
.project-intro > p > span{
    color: #0005;
    margin-right: 1em;
}

.project-img-showcase{
    width: 100%;
    float: left;
}
.disc-text{
    float:left;
    width: 80%;
    margin: 1% 10%;
    text-align: left;
}

/* cousrses section css goes here */
.courses{
    float: left;
    width: 90%;
    margin: 1% 5%
}
.card{
    float: left;
    width: 100%;
    margin: 15% 0%;
    border-radius: 3px;
    font-size: 0.9em;
}
.course-img{
    float: left;
    width: 90%;
    margin: 0% 5%;
    border-radius:3px;

}
.project-discription{
    float: left;
    width: 90%;
    padding: 1% 5%;
}
.course-head{
    float: left;
    width: 100%;
    text-align: left;
    margin:0em;
    padding: 0.5em 0em;
    font-size: 3em;
    font-weight: 400;

}
.course-disc{
    float: left;
    width: 100%;
    font-size: 2em;
    margin: 1em 0em;

}
.view-link{
    float: left;
    width: 100%;
    margin: 0%;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    color: #27981b;
    padding: 1em 0em;
    font-size: 1.5em;
}
.view-link:hover{
    transition: all 50ms;
    background-color: #aaa1;
}
.more{
    float: left;
    margin-left: 0%;
    text-align: center;
    color: #2552d8;
    padding: 0.5em 2em;
    margin-right: 2em;
    width: auto;
}
.more:hover{
    transition: all 150ms;
    background-color: #1f43ae;
}
/*  footer css starts here */
.custom-footer{
    float: left;
    width: 90%;
    padding: 4% 5% 2%;
}
.footer-content{
    margin: 1% auto;
    width: 100%;
}
.footer-content > p,a{
    float: left;
    width: 100%;
    margin: 0em 0em;
    padding: 1.5em 0em;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}
.foot-social{
    margin-top: 10%;
    margin-bottom: 10%;
    position: static;
}
.last-note{
  font-size: 2em;
}





    /* css for project pages goes here */
.contain-pro{
    float: left;
    width: 96%;
    margin: 0% 2%;
    padding: 2%;
}
.headpro{
    float: left;
    width: 100%;
    padding: 1em 0em;
    background: #393e46;
}
.backtohome{
    float: left;
    width: 100%;
    padding: 1em 3%;
    text-decoration: none;
    color: #fff;
}
.backtohome:hover{
    transition: all 150ms;
    transform: translateX(-1em);
}
.text-heading{
    float: left;
    width: 100%;
    color: #000;
    font-weight: 500;
    font-size: 3em;
}
.text-sub-heading{
    float: left;
    width: 96%;
    color: #2552d8;
    font-weight: 500;
    font-size: 1.5em;
    margin: 0em 2%;
    margin-top: 2em;
}
.text-body{
    float: left;
    width: 96%;
    margin: 1em 2%;
    font-size: 1.2em;
    line-height: 27px;
}
.sublist{
    list-style: none;
    font-size: 0.9em;
    width: 100%;
}
.sublist > li{
    float: left;
    width: 100%;
    line-height: 1.8em;
}
.project-more{
    margin-left: 35%;
    text-align: center;
    background-color: #2552d8;
    color: #fff;
    padding: 1.5em 3em;
    width: auto;
}
.project-more:hover{
    transition: all 150ms;
    background-color: #1f43ae;
}
.thankyou-img{
    float: left;
    width: 20%;
    margin: 2% 40%;
}


}


/* media query for mobile ends here */

.rotate{
    animation-name: revolve;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-delay: 5s;
    transform-origin: center;
}
@keyframes revolve{
    0%{transform: scale(0.2) rotateZ(0deg) translateX(50px);opacity: 1;}
    30%{transform: translateY(50px) translateX(-25px);}
    50%{transform: translateY(80px) translateX(5px);}
    70%{transform: translateY(0px) translateX(-80px);}
    100%{transform: scale(0.7) rotateZ(360deg) translateY(-80px) translateX(20px); opacity: 0;}
}
